html {
  margin: 50px auto;
}
@media screen and (min-width: 1024px) {
  html {
    width: 1024px;
  }
}

div.home-img {
  margin-top: 20px;
}

.home-img img {
  max-width: 100%;
  height: auto;
}


div.article-control-area {
  margin: 20px;
}


.noborder {
  text-decoration:none;
}



.thumnail{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.custom-placeholder::placeholder {
  /*color: #999999;*/
  color: #CCCCCC;
}

.search-icon {
  font-size: 1.1rem; /* アイコンのサイズ（例: 1.25rem） */
  color: #AAAAAA; /* アイコンの色（より薄いグレー） */
 }


.tag-container {
    font-size: 20px;
    margin: 10px 0;
 }
