{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}ログイン{% endblock %}


{% block main_content %}
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 fw-normal">ログイン</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary btn-block">ログインする</button><br>
                </form>
            </div>
            <div class="card-fotter text-muted text-center">
                <a href="{% url 'diary:index' %}">ホームに戻る</a>
            </div>
        </div>
    </div>
{% endblock %}