{% load static %}
<!DOCTYPE html>
<html lang="jp">
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <script src="https://kit.fontawesome.com/e795095651.js" crossorigin="anonymous"></script>#}
{#    <script src="https://kit.fontawesome.com/8e8ea8fb7e.js" crossorigin="anonymous"></script>#}
    <script src="{% static 'fontawesome-free-6.4.0-web/js/all.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<main class="container">
    {% block breadcrumb %}{% endblock %}
    {% bootstrap_messages %}
    <h1 class="h1_header">{% block header_h1 %}{% endblock %}</h1>
    <div class="justify-content-center">
        {% block main_content %}{% endblock %}
    </div>
</main>
{% block extra_footer_js %}{% endblock %}
</body>
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>MyDjangoApp</title>#}
{#    </head>#}
{#    <body>#}
{#        {% block content %}#}
{#        {% endblock %}#}
{#    </body>#}
</html>