{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    コメントの編集 - {{ block.super }}
{% endblock %}

{% block header_h1 %}
    コメントの編集
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:index' %}">ホーム</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:diary_list' %}">日記一覧</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:diary_detail' pk=object.diary.pk %}">日記</a></li>
            <li class="breadcrumb-item active" aria-current="page">コメント編集</li>
        </ol>
    </nav>
{% endblock %}

{% block main_content %}
    <h2>{{ object.diary }}</h2>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-end">
            <input type="submit" value="更新">
{#            <button type="submit" class="btn btn-primary">{{ form.submit }}</button>#}
        </div>
    </form>
{% endblock %}
