{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    日記の作成 - {{ block.super }}
{% endblock %}

{% block header_h1 %}
    日記の作成
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:index' %}">ホーム</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:diary_list' %}">日記一覧</a></li>
        <li class="breadcrumb-item active" aria-current="page">日記の作成</li>
    </ol>
</nav>
{% endblock %}

{% block main_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if request.user.is_staff %}
            {% bootstrap_form staff_form %}
        {% else %}
            {% bootstrap_form form %}
        {% endif %}

        <button type="submit" class="form-control col-1">投稿</button>
    </form>
{#    <a href="{% url 'diary:index' %}">戻る</a>#}
{% endblock %}