{% extends "base.html" %}

{% block title %}
    日記リスト - {{ block.super }}
{% endblock %}

{% block header_h1 %}
    日記リスト
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:index' %}">ホーム</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:diary_list' %}">日記一覧</a></li>
            <li class="breadcrumb-item"><a href="javascript:history.back()">日記</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tag.name }}の日記一覧</li>
        </ol>
    </nav>
{% endblock %}

{% block main_content %}
    <hr>
        <h1>{{ tag.name }}</h1>
{#        <form method="GET" action="{% url 'diary:diary_tag_list' %}">#}
        <form method="GET" action="{% url 'diary:diary_tag_list' tag=tag.slug %}">

{#            <select name="num_diaries" id="num_diaries" class="form-control" title="各ページに表示する日記の数を選んでください">#}
{#                <option value="6" {% if num_diaries == '6' %} selected {% endif %}>6</option>#}
{#                <option value="8" {% if num_diaries == '8' %} selected {% endif %}>8</option>#}
{#                <option value="10" {% if num_diaries == '10' %} selected {% endif %}>10</option>#}
{#                <option value="20" {% if num_diaries == '20' %} selected {% endif %}>20</option>#}
{#                <option value="30" {% if num_diaries == '30' %} selected {% endif %}>30</option>#}
{#                <option value="all" {% if num_diaries == 'all' %} selected {% endif %}>すべて</option>#}
{#            </select>#}
            <div class="form-group col-md-4">
                <label for="num_diaries">1ページあたりの日記の表示数</label>
                <select name="num_diaries" id="num_diaries" class="form-control" >
                    <option value="6" {% if num_diaries == '6' %} selected {% endif %}>6</option>
                    <option value="8" {% if num_diaries == '8' %} selected {% endif %}>8</option>
                    <option value="10" {% if num_diaries == '10' %} selected {% endif %}>10</option>
                    <option value="20" {% if num_diaries == '20' %} selected {% endif %}>20</option>
                    <option value="30" {% if num_diaries == '30' %} selected {% endif %}>30</option>
                    <option value="all" {% if num_diaries == 'all' %} selected {% endif %}>すべて</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-success"><i class="bi bi-arrow-clockwise"></i>表示</button>


        </form>

        <hr>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for diary in diary_list %}


                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ diary.title }}</h5>
                            {% if diary.thumbnail %}
                                <img src="{{ diary.thumbnail.url }}" class="img-fluid">
                            {% endif %}
                            <p class="card-text">{{ diary.text|truncatechars:50 }}</p>
                            <a href="{% url 'diary:diary_detail' diary.pk %}" class="btn btn-primary">詳細を見る</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ diary.created_at|date:"Y年m月d日(D)" }} {{ diary.user }}</small>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- 現在よりも前のページが存在する場合 -->
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 先頭</a>
                    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
                {% endif %}

                <!-- 数字の部分 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <span>{{ num }}</span>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                <!-- 現在よりも後のページが存在する場合 -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
                {% endif %}
            </ul>
        </nav>


{% endblock %}