{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Title</title>
    </head>
    <body>
        <p>{{ diary.date }}</p>
        <p>{{ diary.title }}</p>
        <p>{{ diary.text }}</p>
        {% if diary.image %}
            <p class="td_image"><img src="{{ diary.image.url }}" style="width: 500px;height: auto;"></p>
        {% else %}
            <p class="td_image"></p>
        {% endif %}
        {% if request.user.is_staff %}
            <a href="{% url 'diary:diary_update' diary.pk %}">編集</a>
            <a href="{% url 'diary:diary_delete' diary.pk %}">削除</a> <!-- 追加 -->
        {% endif %}
        <a href="{% url 'diary:index' %}">戻る</a>
    </body>
</html>