{% extends 'base.html' %}
{#{% block content %}#}
{#<h1>Diary App by Django</h1>#}

{% load static %}
{% load humanize %}
{% block title %}ホーム{% endblock %}
{% block extra_css %}
{% endblock %}
{% block header_h1 %}ホーム{% endblock %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">ホーム</li>
        </ol>
    </nav>
{% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
{#        <h2><a href="{% url 'diary:diary_list' %}">日記の一覧</a></h2>#}
        <div class="links">
            <div class="content-list"><a href="{% url 'diary:diary_list' %}">日記一覧</a></div>
        </div>
        {% if user.is_staff %}
{#            <div class="links">#}
            <div class="content-list"><a href="{% url 'diary:tag_list' %}">タグ一覧</a></div>
        {% endif %}
        <p><a href="{% url 'logout' %}">ログアウト</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">ログイン</a></p>
    {% endif %}
{#    <div class="home-img">#}
{#        <img src="{% static 'img/logo_250.png' %}" alt="logo_250.png">#}
{#    </div>#}
    {#    <p><a href="{% url 'accounts:signup' %}">新規登録</a></p>#}

{% endblock %}