{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    新規タグ作成 - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
{#    <nav aria-label="breadcrumb">#}
{#        <ol class="breadcrumb">#}
{#            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:index' %}">ホーム</a></li>#}
{#            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:tag_list' %}">タグ一覧</a></li>#}
{#            <li class="breadcrumb-item active" aria-current="page">新規タグ作成</li>#}
{#        </ol>#}
{#    </nav>#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">育児日記</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'diary:index' %}"><i class="fas fa-home"></i> ホーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'diary:tag_list' %}"><i class="fas fa-tags"></i> タグ一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" active　aria-current="page"><i class="fas fa-plus"></i> タグ作成</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block header_h1 %}
    新規タグ作成
{% endblock %}

{% block main_content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="作成する" %}
    </form>
{% endblock %}
