{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    タグ更新 - {{ block.super }}
{% endblock %}

{% block header_h1 %}
    タグ更新
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:index' %}">ホーム</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'diary:tag_list' %}">タグ一覧</a></li>
            <li class="breadcrumb-item active" aria-current="page">タグ編集</li>
        </ol>
    </nav>
{% endblock %}

{% block main_content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="更新する" %}
    </form>
{% endblock %}
